{% extends "base.html" %}

{% block extra_js%}
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}

{% block content %}
<h1>Account list</h1>
<section>
   <!-- Modal content-->
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->    

  </div>
  <!-- /.modal -->

  <div style="margin: 10px 0px;">
    <a class="btn btn-primary" data-toggle="modal" href="{% url 'finance:create' %}" data-target="#modal" title="Create item" data-tooltip>Create a new Account</a>
  </div>
  <table class="table table-bordered table-hovered "cellspacing='0'>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Delete</th>
    </tr>
    {% for object in object_list %}
      <tr>
        <td>
            <a class="fa fa-pencil" data-toggle="modal" href="{% url 'finance:update' object.pk %}" data-target="#modal" title="edit item" data-tooltip></a> 
        </td>
        <td>
          <a  href="{% url 'finance:detail' object.pk %}">{{object}}</a> 
        </td>
        <td>
          <small><a href="{% url 'finance:delete' object.pk %}" class="btn btn-danger"><i class="fa fa-trash-o"></i></a></small>
        </td>
      </tr>
    {% endfor %}
  </table>

<!--
{% for object in object_list %}
  <div class="m-2">
    <a href="{% url 'finance:update' object.pk %}">{{object}}</a>
    <small><a href="{% url 'finance:delete' object.pk %}" class="btn btn-danger"><i class="fa fa-trash-o"></i></a></small>
  </div>
{% endfor %}
-->

</section>

<script>

//setTimeout(function() { jQuery('#modal').modal('hide'); }, 1000);
//  $('body').on('hidden.bs.modal', '.modal', function () {
//      $(this).removeData('bs.modal');
//  });
//var modal = document.getElementById("modal");

$(document).ready(function() {
                    console.log('fUNCIONA')
                
                  });

        // Get the button that opens the modal
        //var btn = document.getElementById("closebtn");

        // Get the <span> element that closes the modal
        //var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal
        // btn.onclick = function() {
        //     console.log('ta rolando aqui')
        //     document.getElementById("item_update_form").reset();
        // }

        //           modal.on('hidden.bs.modal', '#modal', function () {

        //             console.log('rolou')
        //                 $(this).removeData('bs.modal');
        //             });

</script>
{% endblock %}


