<form id="item_update_form" method="post" action="{% url 'finance:account_delete' object.pk %}">
  <div class="modal-header" style="">
    Delete Account
  </div>
  <div class="modal-body">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
  <div>
  <div class="modal-footer"> 
    <input class="btn btn-danger" value="Delete Account" type="submit">
  </div>
</form>

<script>
  var form_options = {
    target: '#modal',
    success: function() {  }
  }
  $('#item_update_form').ajaxForm(form_options);
</script>